p, h1, h2, h5, form, .div, .nav, .container-fluid, .container, .navbar, .nav-link, .dropdown-menu,
.dropdown-item, .nav-item, .navbar-nav {font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}